@import "animation.css";

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-auto-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    perspective: 1000px;
}

div {
    box-sizing: border-box;
    border: 1px solid #000;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    z-index: 2;
    transition: 0.3s ease;
    transform-style: flat;
}

div:nth-child(odd) {
    animation: change-color-gray 2s infinite  ease alternate-reverse;
}

div:nth-child(even) {
    animation: change-color-gray-2 4s infinite linear alternate;
}

div:nth-child(even).gray-1 {
    animation: change-color-gray-2 4s infinite linear alternate-reverse;
}

div:nth-child(even).gray-1 {
    animation: change-color-gray 4s infinite linear alternate;
}

.main {
    grid-column: 2 / span 2;
    grid-row: 4 / span 1;
}

.photo-gallery {
    grid-column: 5 / span 1;
    grid-row: 3 / span 3;
}

.photo-gallery p {
    margin: 0;
    flex: 1 1 auto;
    transform: rotate(-90deg);
    animation: color-change 3s linear;

}

.portfolio {
    grid-column: 7 / span 2;
    grid-row: 6 / span 1;
}

.contacts {
    grid-column: 9 / span 2;
    grid-row: 4 / span 1;
}

.edge {
    box-sizing: border-box;
    position: absolute;
    border: 1px solid #000;
    z-index: 1;
}

.top {
    width: calc(100% + 2px);
    height: 50px;
    top: -1px;
    transform-origin: top;
    transform: rotateX(-90deg);
}

.right {
    width: 50px;
    height: calc(100% + 2px);
    right: -1px;
    transform-origin: right;
    transform: rotateY(-90deg);
}

.bottom {
    width: calc(100% + 2px);
    height: 50px;
    bottom: -1px;
    transform-origin: bottom;
    transform: rotateX(90deg);
}

.left {
    width: 50px;
    height: calc(100% + 2px);
    left: -1px;
    transform-origin: left;
    transform: rotateY(90deg);
}

.button:hover {
    transform: translateZ(45px);
    border: 2px solid #000;
    z-index: 3;
    animation: color-rainbow 4s infinite linear alternate, rainbow 2s infinite linear alternate-reverse;
    box-shadow: 0 0 30px #000;
    transform-style: preserve-3d;
}

.button:hover .edge {
    background-color: #a3a3a3;
    z-index: 2;
}
