@import "animation.css";

html {
    height: 100%;
}

body {
    --transform-size: 0;

    box-sizing: border-box;
    margin: 0;
    min-height: 100%;
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(12, calc((100%/12) - 1px));
    grid-auto-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    perspective: 1000px;
}

div {
    box-sizing: border-box;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    z-index: 2;
    transition: all 0.3s linear, height 0.3s linear;
}

div:nth-child(odd):not(.edge) {
    animation: change-color-gray 2s infinite  ease alternate-reverse;
}

div:nth-child(even):not(.edge) {
    animation: change-color-gray-2 4s infinite linear alternate;
}

div:nth-child(even).gray-1 {
    animation: change-color-gray-2 4s infinite linear alternate-reverse;
}

div:nth-child(even).gray-1 {
    animation: change-color-gray 4s infinite linear alternate;
}

.main {
    grid-column: 2 / span 2;
    grid-row: 4 / span 1;
}

.photo-gallery {
    grid-column: 5 / span 1;
    grid-row: 3 / span 3;
}

.photo-gallery p {
    margin: 0;
    flex: 1 1 auto;
    transform: rotate(-90deg);

}

.portfolio {
    grid-column: 7 / span 2;
    grid-row: 6 / span 1;
}

.contacts {
    grid-column: 9 / span 2;
    grid-row: 4 / span 1;
}

.edge {
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
}

.top {
    width: 100%;
    height: var(--transform-size);
    top: 0;
    transform-origin: top;
    transform: rotateX(-90deg);
}

.right {
    width: var(--transform-size);
    height: 100%;
    right: 0;
    transform-origin: right;
    transform: rotateY(-90deg);
}

.bottom {
    width: 100%;
    height: var(--transform-size);
    bottom: 0;
    transform-origin: bottom;
    transform: rotateX(90deg);
}

.left {
    width: var(--transform-size);
    height: 100%;
    left: 0;
    transform-origin: left;
    transform: rotateY(90deg);
}

.back {
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 0
}

.button:hover {
    --transform-size: 50px;
    transform: translateZ(var(--transform-size));
    z-index: 3;
    animation: color-rainbow 4s infinite linear alternate, rainbow 2s infinite linear alternate-reverse !important;
    transform-style: preserve-3d;
}

.button:hover .edge {
    background-color: #a3a3a3;
}

.button:hover .back {
    transform: translateZ(calc(-1 * var(--transform-size)));
    transition: 0;
    box-shadow: 0 0 40px #000;
}
